* {
    padding: 0;
    margin: 0;
}
.body-home {
    min-height: 100vh;
    background-image: url("https://previews.123rf.com/images/ismagilov/ismagilov1905/ismagilov190500629/122314619-abstract-blue-digital-background-with-circuits-concept-of-hi-tech-and-computer-science-big-data-and-.jpg");
    background-size: cover;
}
main {
    font-family: 'Stint Ultra Expanded', cursive;
}
.home-img {
    width: 400px;
    height: 450px;
    border-radius: 50%;
    position: absolute;
    top: 38%;
    margin-left: 50rem;
    animation: linear infinite alternate;
    animation-name: moving;
    animation-duration: 5s;
    animation-iteration-count: infinite;  
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    animation-name: random-background-color;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
nav ul {
    margin: 0px;
}
nav a {
    text-decoration: none;
    color: black;
    border-style: solid;
    border-radius: 15px;
}
li a {
    padding: 3px 8px 3px 8px;
}
.nav-links {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    list-style: none;
}
.nav-links li {
    padding-left: 10px;
    font-weight: bolder;
    font-size: xx-large;
}
nav a:hover{
    color: silver;
}
.greet-text {
    font-family: 'Orelega One', cursive;
    font-size: 4rem;
    position: absolute;
    top: 15%;
    left: 12%;
    padding-right: 25rem;
}
.big-text {
    font-family: 'Orelega One', cursive;
    font-size: 8rem;
    position: absolute;
    top: 22%;
    left: 20%;
    animation-name: random-color;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.intro {
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider {
    background-color: rgb(88, 95, 105);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}
.intro-text {
    color: rgb(227, 242, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
}
.hide {
    background: black; 
    overflow: hidden;
}
.hide span {
    transform: translateY(100%);
    display: inline-block;
}
@keyframes random-color {
    0%   {color: black;}
    25%  {color: gold;}
    50%  {color: rgb(145, 146, 81);}
    100% {color: rgb(121, 134, 0);}
    
}
@keyframes random-background-color {
    0%   {background-color: black;}
    25%  {background-color: gold;}
    50%  {background-color: rgb(145, 146, 81);}
    100% {background-color: rgb(121, 134, 0);}
}
@keyframes black-white {
    0% {color:rgb(0, 0, 0)};
    5% {color:rgb(202, 202, 202)};
    15% {color:rgb(53, 49, 49)};
    30% {color:rgb(177, 165, 165)};
    50% {color:rgb(24, 23, 23)};
    70% {color:rgb(20, 15, 15)};
    90% {color:rgb(194, 155, 155)};
    100% {color:rgb(15, 3, 3)};
}
@keyframes random-yellow {
    0% {color:rgb(143, 114, 19)};
    25% {color:rgb(237, 253, 9)};
    50% {color:rgb(247, 255, 132)};
    75% {color:rgb(143, 114, 19)};
    100% {color:rgb(151, 161, 7)};
}
@keyframes random-blue {
    0% {color: rgb(32, 9, 245)};
    25% {color:rgb(9, 168, 216)};
    50% {color:rgb(8, 192, 248)};
    75% {color:rgb(109, 38, 241)};
    100% {color:rgb(35, 96, 104)};
}
@keyframes moving {
    0% {left: 0;}
    50% {right: 0;}
    100% {left: 0; transform: scaleX(-1);}
}